## Lab 3:  Exploratory Data Analysis Using Sacramento Real Estate Transactions
#### CS 3300
#### Draven Schilling
#### 9/28/19

Sacramento is the capital city of California located east of San Francisco, near the crossing of the Sacramento River and the American River in Northern California. Early 2000's census data reveals there were 407,018 people, 154,581 households, and 91,202 families residing in the city. The population density was 4,189.2 people per square mile with 163,957 housing units at an average density of 1,687.5 per square mile making Sacramento approximately the 36th largest city in the US at the time. In 2010, the city's median household income was 37,049 USD, and the median family income is 42,051 USD. 

The county of Sacramento is roughly shaped like an elongated X with 4 distinct 'wings â€˜and a more urbanized center. Given its intersecting water channels Sacramento is the shipping and rail center for the Sacramento Valley area and its major industries include food processing.

In this notebook we will be analyzing 2008 real estate transactions from around the Sacramento (CA) area. The dataset contains an address, city, zip, state, number of beds, number of baths, square footage, property type, sale date, price, and gps coordinates (latitude and longitude). We will attempt to analyze which if any property factors impact the price of the transaction.

In [1]:
import numpy as np
import scipy.stats as stats
import matplotlib.pyplot as plt
import pandas as pd
import datetime as dt
import seaborn as sns
from bokeh.plotting import figure
from bokeh.io import show, output_notebook

### Step 1: Load the data and provide initial assesments

We will first import the data and preview the head to verify the import was successful and to gain a reasonable idea of what the data includes.

In [2]:
realestate_readings = pd.read_csv("Sacramentorealestatetransactions.csv")
realestate_readings.head()

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
0,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,Wed May 21 00:00:00 EDT 2008,59222,38.631913,-121.434879
1,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,Wed May 21 00:00:00 EDT 2008,68212,38.478902,-121.431028
2,2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,Wed May 21 00:00:00 EDT 2008,68880,38.618305,-121.443839
3,2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,Wed May 21 00:00:00 EDT 2008,69307,38.616835,-121.439146
4,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,Wed May 21 00:00:00 EDT 2008,81900,38.519470,-121.435768

In [3]:
realestate_readings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 985 entries, 0 to 984
Data columns (total 12 columns):
street       985 non-null object
city         985 non-null object
zip          985 non-null int64
state        985 non-null object
beds         985 non-null int64
baths        985 non-null int64
sq__ft       985 non-null int64
type         985 non-null object
sale_date    985 non-null object
price        985 non-null int64
latitude     985 non-null float64
longitude    985 non-null float64
dtypes: float64(2), int64(5), object(5)
memory usage: 92.4+ KB

In [4]:

# Create a blank figure with labels
p = figure(plot_width = 600, plot_height = 600, 
           title = 'Example Glyphs',
           x_axis_label = 'latitude', y_axis_label = 'longitude')

# Example data
squares_x = [1, 3, 4, 5, 8]
squares_y = [8, 7, 3, 1, 10]
circles_x = [9, 12, 4, 3, 15]
circles_y = [8, 4, 11, 6, 10]

# Add squares glyph
#p.square(squares_x, squares_y, size = 12, color = 'navy', alpha = 0.6)
# Add circle glyph
p.circle(realestate_readings['latitude'], realestate_readings['longitude'], size = 12, color = 'red')
# Set to output the plot in the notebook
output_notebook()
# Show the plot
show(p)

SyntaxError: invalid syntax (<ipython-input-4-a4953cbfb41e>, line 16)